$bgcolor: rgb(242, 242, 242);
$logoColor: rgb(98, 138, 239);
$logoFontSize: 2rem;
$logoShadowBorderingColor: #fff;
$formFontSize: 1rem;
$arabesqueTag: rgb(0, 135, 158);
$grayText: rgb(133, 133, 133);
$formBtnBlue: rgb(196,216,242);
$doingPink: rgb(237, 182, 181);
$doneBlue: rgb(137, 178, 229);
$borderColor: #bbb;

//レイアウト用css
html, body {
  height: 100%;
}

#container {
  width: 80%;
  height: 100%;;
  margin: 0 auto;
}

#headerMenu {
  background: $bgcolor;
  padding: 1rem 0;
}

.menuInner {
  display: flex;
  align-items: baseline;
  width: 80%;
  margin: 0 auto;
  .logo {
    margin-right: auto;
  }
  .logoLink {
    color: $logoColor;
    font-size: $logoFontSize;
    text-decoration: none;
    /* 色 横 下 ぼかし具合*/
    text-shadow: $logoShadowBorderingColor 1px 1px 0px, $logoShadowBorderingColor -1px 1px 0px,
    $logoShadowBorderingColor 1px -1px 0px, $logoShadowBorderingColor -1px -1px 0px, /* 右下 左下 右上 左上 Bordering*/ #000 0px 3px 5px;
  }
}

.button {
  font-size: 1.2rem;
  &:hover {
    color: $arabesqueTag;
    border-bottom: 1px solid $arabesqueTag;
  }
}

.searchBtn {
  @extend .button;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

#contents {
  padding: 1.5rem 0;
}

#contentInner {
  width: 90%;
  margin: 0 auto;

  .contentDesc {
    margin-bottom: .5rem;
  }
}

.actionForm {
  display: flex;
  margin-bottom: .5rem;

  input {
    border: 2px solid $borderColor;
  }
  .actionFormTxt {
    flex: 5;
    margin-right: 2rem;
    padding: .5rem .5rem;
    font-size: $formFontSize;
  }
  .actionFormBtn {
    flex: 1;
    font-size: $formFontSize;
    background-color: rgb(196, 216, 242);
  }
}

#taskLists {
  list-style-type: none;
  .taskList {
    border: 1px solid $borderColor;
    margin-top: 20px;
    padding: 1rem 1.5rem .5rem;
    -webkit-box-shadow: 1px 1px 3px $borderColor;
    -moz-box-shadow: 1px 1px 3px $borderColor;
    box-shadow: 1px 1px 3px $borderColor;
  }
  a {
    text-decoration: none;
  }
}

.listName {
  color: $arabesqueTag;
  font-weight: bold;
  text-decoration: underline;
}

.listDescription {
  font-size: .8rem;
  margin-top: 10px;
  color: $grayText;
}

#createTaskArea {
  border: 1px solid $borderColor;
  padding: .5rem 1.5rem 1.5rem;
}

#taskCreateForm {
  display: flex;
}

#createInputArea {
  flex-grow: 15;
  margin-right: 1rem;
  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    span {
      flex-grow: 1;
      flex-basis: 4rem;
    }
    input {
      font-size: $formFontSize;
      padding: .2rem .8rem;
      margin-left: .5rem;
      flex-grow: 10;
    }
    &:last-child {
      margin-top: .5rem;
    }
  }
}

#addTaskButton {
  background-color: $formBtnBlue;
  margin-left: auto;
  border: 1px solid $borderColor;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-grow: 1;
}

#tasks {
  @extend #taskLists;
  section {
    display: flex;
  }
  .taskInner {
    flex-grow: 10;
  }
  .task {
    @extend .taskList;
  }
  .taskDescription {
    @extend .listDescription;
  }
  .taskStatus {
    padding: 0 2rem;
    flex-grow: 1;
    border: 1px solid $borderColor;
    font-size: 1.2rem;
    flex-basis: 6rem;
  }
}


//search用CSS
#searchForm {
  display: flex;
  margin-bottom: 1.5rem;
  input {
    flex: 10;
    margin-right: 2rem;
    padding: .5rem .5rem;
    font-size: $formFontSize;
  }
  button {
    @extend #addTaskButton;
  }
}

#searchTask {
  @extend #taskLists;
  a {
    display: flex;
    text-decoration: none;
    h3 {
      color: #000;
      margin-bottom: 1rem;
    }
  }
  .findTaskBox {

  }
  .dateBox {
    margin-left: auto;
    text-align: right;
  }
}

//汎用class
.error {
  color: red;
}

.done {
  background-color: $doneBlue;
}

.doing {
  background-color: $doingPink;
}